<div class="form">
    <mat-card class="card">
      <mat-card-title>Register Book</mat-card-title>
      <mat-card-content>
        <div class="container">
          <mat-form-field>
            <input [(ngModel)]="bookData.title"
            matInput
            placeholder="Name book"
            required
            />
          </mat-form-field>
          <mat-form-field>
              <input [(ngModel)]="bookData.author"
              type="author"
            matInput
            placeholder="Author"
            required
            />
          </mat-form-field>
          <mat-form-field>
              <input [(ngModel)]="bookData.category"
              type="category"
            matInput
            placeholder="Category"
            required
            />
          </mat-form-field>
          <mat-form-field>
            <input [(ngModel)]="bookData.editorial"
            type="editorial"
          matInput
          placeholder="Editorial"
          required
          />
        </mat-form-field>
        <mat-form-field>
            <input [(ngModel)]="bookData.bookStatus"
            type="bookStatus"
          matInput
          placeholder="BookStatus"
          required
          />
        </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
          <button
          (click)="saveBook()"
          class="button"
          mat-raised-button
          >Register</button>
      </mat-card-actions>
    </mat-card>
  </div>
